<script>
    $(document).ready(function () {
        $(“#new_user”).focusout(validate({
            debug: true,
            rules: {
                    “user[email_confirmation]“: {required: true, equalTo: “#user_email”}
                   },

            errorPlacement: function(error, element) {
            error.appendTo( $("label:first") );}
    }));
    });
</script>
<% unless @subscription.nil? || @subscription.errors.blank? %>
    <%= @subscription.errors.full_messages.to_sentence %>
<% end %>

<!--%= form_for @subscription, html: { id: 'payment-form' } do |f| %-->
<div class="authform">
  <h3>Subscribing to <%= @plan.name %></h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
  <input type="hidden" name="plan_id" value="<%= @plan.id %>" />
  <span class="payment-errors"></span>

  <div class="form-row">
  <label>
    <span>Email Address</span>
    <input type="email" size="20" name="email_address" required value="" />
  </label>
  </div>

  <div class="form-row">
    <label>
       <span>Confirm Email</span>
       <input type="email" size="20" name="email_confirmation" id = "econf" required value="" />
    </label>
  </div>

  <div class="form-row">
  <label>
    <span>Card Number</span>
    <input type="text" size="20" data-stripe="number" required value="" />
  </label>
  </div>

  <div class="form-row">
  <label>
    <span>CVC</span>
    <input type="text" size="4" data-stripe="cvc" required value=""  pattern="[0-9]{3}" />
  </label>
  </div>

  <div class="form-row">
  <label>
    <span>Expiration (MM/YYYY)</span>
    <input type="text" size="2" data-stripe="exp-month" required value="" pattern="[0-9]{2}" />
  </label>
  <span> / </span>
  <input type="text" size="4" data-stripe="exp-year" required value="" pattern="[0-9]{4}" />
  </div>

  <button type="submit" id = "sbutton" >Pay Now</button>
  <% end %>
</div>