<p>Welcome to Our Application!</p>

<p>You have signed up for the <%= @plan %> plan</p>

<p>We've generated a password for you: <%= @resource.password %></p>

<p>If you prefer, please, feel free to change it (under "Account/Settings").</p>