<p>Welcome to Our Application!</p>

<p>You have signed up for the <%= @plan.name %> plan.</p>

<p>We've generated a password for you: <%= @token %></p>

<p>If you prefer you can change it (under "Account/Settings").</p>